﻿.logo{
    width: 60px;
}

.homeBG {
    margin-top: 200px;
    background: url(../Images/home-background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.themeBG {
    /*margin-top: 200px;*/
    /*margin-top: 110px;*/
    background: url(../Images/theme-background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.centerContent {
    max-width: 500px;
    margin:auto;
}

.szukajDIV {
    /*background-color: #03023f;
    opacity: 0.3;*/
    background-color: rgba(3, 2, 63, 0.3);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.szukajText {
    min-width: 800px;
}

.szukajButton {
    background-color: #03023f;
    width: 200px;
    color: #808080;
    border-color: #808080;
}

.szukajButton:hover {
        /*background-color: rgba(3, 2, 63, 0.85);*/
        color: white;
}

.cancelVisitButton{
    border-bottom-width: 2px;
    border-color: red;
}

.panelLekarza {
    font-size: 18px;
    background-color: red;
    border-color: red;
    color: red;
}

.column{
    float:left;
    width:50%;
}
