﻿@{
    ViewBag.Title = "Super Lekarz";
}


<body class="themeBG centerContent" style="margin-top:160px">
    <h2 >@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    @Styles.Render("~/Content/css")


    <p>Szymon Kaleta (lider)</p>
    <p>Jakub Chmiel</p>
    <p>Jakub Gadzała</p>
    <p>Anna Gudełajtis</p>
    <p>Szymon Korda</p>
    <link rel="stylesheet" href="~/Content/my-styles.css" />
    <img src="~/Images/logo.png" class="logo" />
</body>

