﻿@{
    ViewBag.Title = "Kontakt";
}

<body class="themeBG centerContent" style="margin-top: 160px">
    <h2 >@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Politechnika Wrocławska<br />
        Wydział Elektroniki<br />
        ul. Janiszewskiego 11/17<br />
        50-372 Wrocław<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@superlekarz.com">Support@superlekarz.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@superlekarz.com">Marketing@superlekarz.com</a>
    </address>

</body>