﻿@model TeamProject.Models.PlaceAppointmentViewModel
@{
    ViewBag.Title = "_PlaceAppointment";
}

<body class="themeBG centerContent" style="margin-top:100px">

    <h2>Wybierz godzinę</h2>
    <br />
    @using (Html.BeginForm("SubmitAppointment", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(x => Model.chosenDate)
        @Html.HiddenFor(x => Model.chosenServiceId)

    <div >
        @Html.DropDownListFor(model => model.chosenTime, new SelectList(Model.availableHours), new { id = "hourDropDown", @style="min-width:100px"})
    </div>
    <br />
    <div >
        <input type="submit" value="Zatwierdź" class="btn btn-default " style="font-size:16px; min-width:100px">
    </div>
    }

</body>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#hourDropDown').chosen();
        });
    </script>
}

