﻿@{
    ViewBag.Title = "Home Page";
}
@if (@TempData["Confirmation"] != null)
{
    <script>window.onload = function() {
            alert("@TempData["Confirmation"]");
    }
    </script>
}
    <body class="homeBG">
        <div class="row">
            <div>
                <h1>Znajdź swojego lekarza i umów się od ręki</h1>
            </div>
            <br />
            <br />
            @*class="col-md-4"*@
            <div class="szukajDIV">
                @using (Html.BeginForm("Search", "Home", null, FormMethod.Post, new { style = "font-size:32px;" }))
                {
                    <input class="szukajText" type="text" pattern=".{3,}" required name="searchValue" placeholder="Wyszukaj (miasto, specjalność)" />
                    <input class="szukajButton" type="submit" value="Szukaj">
                }
            </div>
        </div>
    </body>