﻿@model TeamProject.Models.PlaceAppointmentViewModel
@{
    ViewBag.Title = "PlaceAppointment";
}

<head>
    <script src="../../Scripts/jquery-1.3.2.min.js" language="javascript" type="text/javascript"></script> 
    <script src="../../Scripts/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script> 
</head>

<body class="themeBG centerContent" style="margin-top:100px">

    <h2>Rezerwacja wizyty.</h2>
    <br />

    @using (Html.BeginForm("FinalizeAppointment", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(x => Model.Id)
        for (var i = 0; i < Model.Services.Count; i++)
        {
            @Html.HiddenFor(x => Model.Services[i].duration)
            @Html.HiddenFor(x => Model.Services[i].service_id)
            @Html.HiddenFor(x => Model.Services[i].address_id)
        }
        for (var i = 0; i < Model.WorkHours.Count; i++)
        {
            @Html.HiddenFor(x => Model.WorkHours[i].day)
            @Html.HiddenFor(x => Model.WorkHours[i].start_time)
            @Html.HiddenFor(x => Model.WorkHours[i].end_time)
            @Html.HiddenFor(x => Model.WorkHours[i].address_id)
        }
        for (var i = 0; i < Model.Appointments.Count; i++)
        {
            @Html.HiddenFor(x => Model.Appointments[i].SERVICE.duration)
            @Html.HiddenFor(x => Model.Appointments[i].appointment_date)
        }
        <div>
            @Html.DropDownListFor(x => Model.chosenWorkPlaceId, new SelectList(Model.WorkPlaces, "address_id", "AddressDescription", null), new { id = "addressDropDown" })
            @Html.DropDownListFor(x => Model.chosenServiceId, new SelectList(Model.Services, "service_id", "name", null), new { id = "serviceDropDown" , @style="min-width:150px"})
            @Html.TextBoxFor(x => Model.chosenDate, new { type = "date" , @style = "min-width: 150px;" , name = "Date",  id = "Date", @class="hasDatepicker" })
        </div>

        @*<input type="date" value="9/13/2009" style="width: 100px;" name="Date" id="Date" class="hasDatepicker" />*@

        <br />
        <input type="submit" value="Zatwierdź" class="btn btn-default" style="font-size:16px">
        <br />
    }
</body>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addressDropDown').chosen();
            $('#serviceDropDown').chosen();
        });
    </script>

}