﻿@{
    ViewBag.Title = "Prywatność i ochrona danych osobowych";
}

<body class="themeBG" style="margin-top:160px">
    <h2 >@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <h5>Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych)</h5>
    <h6>Zgodnie z art. 99 ogólnego rozporządzenia o ochronie danych, rozporządzenie wchodzi w życie 20 dnia po publikacji w Dzienniku Urzędowym UE, a będzie stosowane od dnia 25 maja 2018 r</h6>
    <link rel="stylesheet" href="~/Content/my-styles.css" />
    <img src="~/Images/logo.png" class="logo" />
</body>