﻿@model List<TeamProject.Models.SearchViewModel>
@{
    ViewBag.Title = "Search";
}
<body class="themeBG" style="margin-top: 100px">
    <div ></div>
    @foreach (var doctor in Model)
    {
        <h2>@String.Format("{0} {1}", doctor.FirstName, doctor.LastName)</h2>
        <h4><b>@doctor.Speciality</b></h4>
        
            foreach (var workPlace in doctor.WorkPlaces)
            {
            <ul>
                <li><p>@workPlace.clinic_name</p></li>
            </ul>
            }
            @Html.ActionLink("Rezerwuj", "PlaceAppointment", "Home", new { doctorId = doctor.Id }, new { @class = "btn btn-default" })
        
        <br />
        <br />
    }
</body>