﻿@model TeamProject.Models.SERVICE

<body class="themeBG centerContent" style="margin-top:100px">

    <h2>Dodaj nową usługę.</h2>
    <br />

    @using (Html.BeginForm("CreateService", "Doctor", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(x => Model.address_id)
        @Html.HiddenFor(x => Model.doctor_id)
        @Html.HiddenFor(x => Model.service_id)
        <div class="form-horizontal">
            <div class="form-group">
                <div>
                    <div class="form-group">
                        @Html.LabelFor(m => Model.name, "Nazwa usługi", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => Model.name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => Model.duration, "Czas trwania [min]", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => Model.duration, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => Model.price, "Cena [zł]", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => Model.price, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź zmiany" class="btn btn-default" />
            </div>
        </div>
    }
    <br />
</body>
