﻿@model List<TeamProject.Models.Appointment>
@{
    ViewBag.Title = "Appointments";
}

<body class="themeBG centerContent" style="margin-top:100px">

    <div>
        @Html.ActionLink("Miejsca Pracy", "WorkPlaces", "Doctor", new { @class = "btn btn-default" })
        @Html.ActionLink("Kalendarz wizyt", "Appointments", "Doctor", new { @class = "btn btn-default" })
        @Html.ActionLink("Mój profil lekarski", "Profile", "Doctor", new { @class = "btn btn-default" })
        <br />
        <hr />
    </div>

    <h2>Kalendarz wizyt.</h2>
    <br />

    @foreach (var appointment in Model)
    {
        <h4><b>@appointment.Data.first_name @appointment.Data.last_name</b></h4>
        <p>@appointment.SERVICE.name</p>
        <p>@appointment.appointment_date.ToString("f")</p>
        @Html.ActionLink("Anuluj wizytę", "CancelVisit", "Doctor", new { appointmentId = appointment.appointment_id }, new { onclick = "return confirm('Czy na pewno chcesz anulować wizytę?');", @class = "btn btn-default" })
        <br />
    }
    <br />

</body>
