﻿
@{
    ViewBag.Title = "Panel Lekarza";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <h2 >@ViewBag.Title.</h2>
    <br />
    @*<link rel="stylesheet" type="text/css" href="~/Content/my-styles.css" />*@
    <div >
        @Html.ActionLink("Miejsca Pracy", "WorkPlaces", "Doctor", new { @class = "btn btn-default", style = "font-size:20px;" })
        @Html.ActionLink("Kalendarz wizyt", "Appointments", "Doctor", new { @class = "btn btn-default", style = "font-size:20px;" })
        @Html.ActionLink("Mój profil lekarski", "Profile", "Doctor", new { @class = "btn btn-default", style = "font-size:20px;" })
        @*@Html.ActionLink("WebAPI Test - do usunięcia", "WebApi_Test", "Doctor", new { @class = "btn btn-default" })*@
    </div>
    <br />
</body>