﻿@using System.Globalization
@model TeamProject.Models.ManageHoursViewModel
@{
    ViewBag.Title = "ManageHours";
}

<body class="themeBG centerContent" style="margin-top:100px">

    <h2>Twoje godziny pracy:</h2>
    <br />
    @using (Html.BeginForm("SubmitWorkHours", "Doctor", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(x => Model.AddressId)
        @Html.HiddenFor(x => Model.DoctorId)
        <div class="form-horizontal">
            @for (var i = 0; i < 7; i++)
            {
                <div class="form-group">
                    @Html.HiddenFor(x => Model.WorkHoursList[i].work_hours_id)
                    @Html.HiddenFor(x => Model.WorkHoursList[i].day)
                    @Html.HiddenFor(x => Model.WorkHoursList[i].doctor_id)
                    @Html.HiddenFor(x => Model.WorkHoursList[i].address_id)
                    @Html.HiddenFor(x => Model.WorkHoursList[i].Address)
                    @Html.HiddenFor(x => Model.WorkHoursList[i].Doctor)
                    <div class="col-md-10">
                        @{ var culture = System.Globalization.CultureInfo.GetCultureInfo("pl-PL"); }
                        <div>
                            <label><b>@culture.TextInfo.ToTitleCase(culture.DateTimeFormat.DayNames[Model.WorkHoursList[i].day - 1])</b></label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.WorkHoursList[i].start_time, "Początek", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => Model.WorkHoursList[i].start_time, new { Value = Model.WorkHoursList[i].start_time != null ? Model.WorkHoursList[i].start_time.Value.ToString("HH:mm") : "", @class = " col-md-8 form-control" })
                            </div>

                            @Html.LabelFor(m => Model.WorkHoursList[i].end_time, "Koniec", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => Model.WorkHoursList[i].end_time, new { Value = Model.WorkHoursList[i].end_time != null ? Model.WorkHoursList[i].end_time.Value.ToString("HH:mm") : "", @class = "col-md-8 form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź zmiany" class="btn btn-default" />
            </div>
        </div>
        <br />
    }
</body>
