﻿@model TeamProject.Models.NewWorkplaceViewModel
@{
    ViewBag.Title = "NewWorkplace";
}

<body class="themeBG" style="margin-top:100px">

    <h2>Nowe miejsce pracy.</h2>
    <br />

    <div class="row">

        <div class="col-sm-4">

            @using (Html.BeginForm("AddWorkplace", "Doctor", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div>
                    <label class="col-md-offset-1" style="font-size:16px">Wybierz spośród istniejących adresów</label>
                </div>
                <hr />
                <div class="form-horizontal">
                    <div class="col-md-offset-1">
                        @*<label>Wybierz spośród istniejących adresów</label>*@
                        @Html.DropDownListFor(model => model.AddressId, new SelectList(Model.AllAddresses, "address_id", "AddressDescription", null), new { id = "addressDropDown" })
                    </div>
                    <h4> </h4>
                    <p> </p>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Dodaj wybrane miejsce pracy" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>

        @*<div class="col-sm-2">

        </div>*@

        <div class="col-sm-8">

            @using (Html.BeginForm("AddWorkplace", "Doctor", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div>
                    <label class="col-md-offset-4" style="font-size:16px">Dodaj nowy adres</label>
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.ClinicName, "Nazwa placówki", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @*<label>Nazwa placówki</label>*@
                        @Html.TextBoxFor(m => m.ClinicName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>Ulica i numer budynku</label>*@
                    @Html.LabelFor(m => m.Line1, "Ulica i numer budynku", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Line1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>Numer lokalu</label>*@
                    @Html.LabelFor(m => m.Line2, "Numer lokalu", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Line2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>Miejscowość</label>*@
                    @Html.LabelFor(m => m.City, "Miejscowość", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>Kod pocztowy</label>*@
                    @Html.LabelFor(m => m.ZipCode, "Kod pocztowy", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>Nr telefonu recepcji</label>*@
                    @Html.LabelFor(m => m.PhoneReception, "Nr telefonu recepcji", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.PhoneReception, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label>E-Mail do recepcji</label>*@
                    @Html.LabelFor(m => m.ClinicEmail, "E-Mail do recepcji", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ClinicEmail, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="submit" value="Dodaj nowe miejsce pracy" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</body>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addressDropDown').chosen();
        });
    </script>
}
