﻿@model TeamProject.Models.DoctorProfileViewModel
@{
    ViewBag.Title = "Profile";
}

@if (@TempData["Confirmation"] != null)
{
    <script>
        window.onload = function() {
            alert("@TempData["Confirmation"]");
        }
    </script>
}

    <body class="themeBG centerContent" style="margin-top:100px">

        <div>
            @Html.ActionLink("Miejsca Pracy", "WorkPlaces", "Doctor", new { @class = "btn btn-default" })
            @Html.ActionLink("Kalendarz wizyt", "Appointments", "Doctor", new { @class = "btn btn-default" })
            @Html.ActionLink("Mój profil lekarski", "Profile", "Doctor", new { @class = "btn btn-default" })
            <br />
            <hr />
        </div>

        @using (Html.BeginForm("EditProfile", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h2>Mój profil lekarski</h2>
            <br />
            <div style="padding: 20px 20px 20px 20px">
                <div class="form-group">
                    @Html.LabelFor(m => m.ProfilePicture, "Zdjęcie profilowe", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @if (Model.ProfilePicture != null)
                        {
                            <img src="data:@Model.ProfilePicture.ContentType;base64, @Model.ProfilePicture.Base64Data" alt="Profile Pic" />
                        }
                        <input type="file" name="profilePic" />
                    </div>
                </div>
                <p style="color:aliceblue">.</p>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.DoctorData.speciality, "Specjalność", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DoctorData.speciality, new { @class = "form-control" })
                    </div>
                </div>
                <p style="color:aliceblue">.</p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zawierdź zmiany" class="btn btn-default" style="font-size:16px" />
                    </div>
                </div>
            </div>
            <p style="color:aliceblue">.</p>
        }

    </body>