﻿@model TeamProject.Models.ServicesViewModel
@{
    ViewBag.Title = "Services";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <h2>Usługi.</h2>
    <br />

    @using (Html.BeginForm("SubmitServices", "Doctor", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-offset-1" >
            @Html.ActionLink("Dodaj usługę", "AddService", "Doctor", new { addressId = Model.AddressId }, new { @class = "btn btn-default", style = "font-size:18px;" })
            <input type="submit" value="Zatwierdź zmiany" class="btn btn-default" style="font-size:18px"/>
        </div>
        <br/>
        <div class="form-horizontal">
            @for (var i = 0; i < Model.ServicesList.Count; i++)
            {
                <div class="form-group">
                    @Html.HiddenFor(x => Model.ServicesList[i].address_id)
                    @Html.HiddenFor(x => Model.ServicesList[i].doctor_id)
                    @Html.HiddenFor(x => Model.ServicesList[i].service_id)
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.ServicesList[i].name, "Nazwa usługi", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => Model.ServicesList[i].name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.ServicesList[i].duration, "Czas trwania [min]", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => Model.ServicesList[i].duration, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.ServicesList[i].price, "Cena [zł]", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => Model.ServicesList[i].price, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-offset-2">
                            @Html.ActionLink("Usuń usługę", "RemoveService", "Doctor", new { serviceId = Model.ServicesList[i].service_id }, new { onclick = "return confirm('Czy na pewno chcesz usunąć usługę?');", @class = "btn btn-default" })
                        </div>
                        <p></p>
                    </div>
                </div>
            }
        </div>
        <br />
    }
        
</body>