﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>    
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var uri = '/api/values';
        $(document).ready(function () {
            $.getJSON(uri)
                .done(function (data) {
                    alert('got: ' + data);
                });

            $.ajax({
                url: '/api/values/5',
                async: true,
                success: function (data) {
                    alert('seccess1');
                    var res = parseInt(data);
                    alert('got res=' + res);
                }
            });
        });
    </script>
</head>
<body>
....
</body>
</html>