﻿@model TeamProject.Models.WorkPlacesViewModel
@{
    ViewBag.Title = "WorkPlaces";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <div >
        @Html.ActionLink("Miejsca Pracy", "WorkPlaces", "Doctor", new { @class = "btn btn-default" })
        @Html.ActionLink("Kalendarz wizyt", "Appointments", "Doctor", new { @class = "btn btn-default" })
        @Html.ActionLink("Mój profil lekarski", "Profile", "Doctor", new { @class = "btn btn-default" })
        <br />
        <hr />
    </div>

    <h2>Moje miejsca pracy</h2>
    <br />

    @foreach (var workplace in Model.WorkPlacesList)
    {
        <h4><b>@workplace.clinic_name</b></h4>
        <p>@workplace.ToString()</p>
        <p><u>Usługi:</u></p>
        foreach (var service in Model.ServicesList)
        {
            if (service.address_id == workplace.address_id)
            {
                <p>@service.ToString()</p>
            }
        }
        <p><u>Godziny przyjęć:</u></p>
        foreach (var day in Model.WorkHoursList)
        {
            if (day.address_id == workplace.address_id)
            {
                <p>@day.ToString()</p>
            }
        }
                <div>
                    @Html.ActionLink("Zmień godziny pracy", "ManageHours", "Doctor", new { addressId = workplace.address_id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Zmień usługi", "Services", "Doctor", new { addressId = workplace.address_id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Usuń miejsce pracy", "DeleteWorkplace", "Doctor", new { addressId = workplace.address_id }, new { onclick = "return confirm('Czy na pewno chcesz usunąć miejsce pracy?');", @class = "btn btn-default" })
                </div>
                <br />
    }

    <hr />
    @Html.ActionLink("Dodaj nowe miejsce pracy", "NewWorkplace", "Doctor", new { @class = "btn btn-default", style = "font-size:20px;" })
    <br />
</body>