﻿@{
    ViewBag.Title = "Potwierdzenie adresu Email";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <h2>@ViewBag.Title.</h2>
    <br />
    <div>
        <p>
            Dziękujemy za potwierdzenie adresu Email. Kliknij @Html.ActionLink("tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</body>
