﻿@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <hgroup class="title">
        <h2 >@ViewBag.Title.</h2>
    </hgroup>
    <br />
    <div>
        <p>
            Sprawdź swój Email i postępuj według instrukcji.
        </p>
    </div>
    <br />
</body>
	
