﻿@*@using Microsoft.AspNet.Identity*@
@model TeamProject.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}



@if (@TempData["Confirmation"] != null)
{
    <script>
        window.onload = function() {
        alert("@TempData["Confirmation"]");
        }
    </script>
}
<body class="themeBG centerContent" style="margin-top:100px">
    @using (Html.BeginForm("EditProfile", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 >Mój profil.</h2>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, "Imię", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, "Nazwisko", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, "Numer telefonu", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zawierdź zmiany" class="btn btn-default" />
            </div>
        </div>
    }
    @using (Html.BeginForm("CheckPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <p>Aby zmienić hasło upewnij się, że podany adres Email jest prawidłowy oraz podaj obecne hasło.</p>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Hasło", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Przejdź do zmiany hasła" class="btn btn-default" />
            </div>
        </div>
    }

    @*@using (Html.BeginForm("Index", "Manage", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Przejdź do zmiany hasła" class="btn btn-default" />
                </div>
            </div>
        }*@
    <br />
</body>

