﻿@model TeamProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj się";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <h2 >@ViewBag.Title.</h2>
    <br />
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Utwórz nowe konto w serwisie Super Lekarz</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Hasło", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, "Powtórz hasło", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Zarejestruj" />
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
