﻿@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

<body class="themeBG centerContent" style="margin-top:100px">
    <hgroup class="title">
        <h2 >@ViewBag.Title.</h2>
    </hgroup>
    <br />
    <div>
        <p>
            Twoje hasło zostało poprawnie zmienione. Kliknij @Html.ActionLink("tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
        </p>
    </div>
    <br />
</body>
