﻿@model TeamProject.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<body class="themeBG centerContent" style="margin-top:100px">

    <h2>@ViewBag.Title.</h2>
    <br />

    @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("rememberMe", @Model.RememberMe)
        <h4>Send verification code</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                Select Two-Factor Authentication Provider:
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    }
    <br />

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
