﻿@model List<TeamProject.Models.Appointment>
@{
    ViewBag.Title = "ShowAppointments";
}

<body class="themeBG centerContent" style="margin-top: 100px">
    
    <h2>Moje wizyty.</h2>
    <br />

    @foreach (var appointment in Model)
    {
        <h4><b>@appointment.SERVICE.Doctor.Data.first_name @appointment.SERVICE.Doctor.Data.last_name</b></h4>
        <p>@appointment.SERVICE.Address.AddressDescription</p>
        <p>@appointment.SERVICE.name</p>
        <p>@appointment.appointment_date.ToString("f")</p>
        @Html.ActionLink("Anuluj wizytę", "CancelVisit", "Account", new { appointmentId = appointment.appointment_id }, new { onclick = "return confirm('Czy na pewno chcesz anulować wizytę?');", @class = "btn btn-default" })
        <br />
        <hr />
        <br />
    }
</body>
