﻿@model List<TeamProject.Models.AspNetUsers>
@{
    ViewBag.Title = "DoctorRequests";
}

<body class="themeBG" style="margin-top:100px">

    <h2>Prośby Lekarzy</h2>
    <br />

    @foreach (var request in Model)
    {
        <div>
            <p>@request.Data.First().first_name</p>
            <p>@request.Data.First().last_name</p>
            <p>@request.Email</p>
            <p>@request.PhoneNumber</p>

            @Html.ActionLink("Zatwierdź prośbę", "SetDoctor", "Admin", new { dataId = request.Data.First().data_id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Odmów", "CancelDoctor", "Admin", new { dataId = request.Data.First().data_id }, new { @class = "btn btn-default" })
        </div>
    }
    <br />
</body>