﻿@using Microsoft.AspNet.Identity
@model TeamProject.Models.Data
@if (Request.IsAuthenticated)
{
    @*<span style="margin-left: 20px"></span>*@
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<div class="nav navbar-nav navbar-right" style="position:absolute; top:20px; right:100px">
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>*@
        <div class="nav navbar-nav navbar-right" style="position:absolute; top:20px; right:100px">
            @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Profile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
        <ul class="nav navbar-nav navbar-right" style="font-size:20px;">
            <li>@Html.ActionLink("Profil", "Profile", "Account")</li>
            <li>@Html.ActionLink("Moje wizyty", "ShowAppointments", "Account")</li>
            <li>
                @if (@Model.Access_level == 2)
                {
                    @Html.ActionLink("Panel Lekarza", "Index", "Doctor")
                }
                @if ((@Model.Doctor_request != true && @Model.Access_level == 1) && @Model != null)
                {
                    @Html.ActionLink("Zostań lekarzem", "BecomeDoctor", "Account", null, new { onclick = "return confirm('Czy na pewno chcesz zostać lekarzem?');" })
                }
                @if (@Model.Access_level == 3)
                {
                    @Html.ActionLink("Zatwierdź lekarzy", "DoctorRequests", "Admin")
                }
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="font-size:20px;">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
